.sorting-visualizer-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorting-visualizer-container .sorting-visualizer-content {
    width: 100%;
    min-height: 900px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.array-bar {
    width: 8px;

    border: 1px solid gray;
    border-radius: 1em;
}

.sorting-visualizer-buttons {
    width: 100%;
    height: calc(100% - 900px);

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.sorting-visualizer-buttons button {
    margin: 20px;
    padding-left: 17px;
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 10px;

    background-color: transparent;
    /* background-color: rgb(23, 23, 23); */
    color: white;

    border: 1px solid white;
    border-radius: 2em;

    font-family: Poppins-Regular;
    font-size: 14px;

    cursor: pointer;
}

.sorting-visualizer-buttons button:hover {
    color: white;
    transition: all 0.2s ease-in;
    /* border-color: rgba(255, 255, 255, 0.7); */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.35); */
    background-color: rgba(117, 117, 117, 0.9) !important;
}