.array-container {
    /* position: absolute; */
    /* left: 100px; */
    padding-top: 20px;
}

.array-bar {
    width: 2px;
    /* background-color: pink; */
    background-color: white;
    display: inline-block;
    margin: 0 1px;
}